#logo{
	width:100%;
	text-align: center;
	left:0;
}
#nav{
	display: none;
}
.box .flot_box{
	width:80%;
	text-align: center;
	position: static;
	margin: 0 auto;
}
.box .flot_box h2{
	font-size: 1.8em;
	line-height: 1.5em;
}
.box .flot_box p{
	line-height: 1.4em;
	padding:0 1em 1.5em;
}
#work,#job{
	padding-top: 20%;
}
.box .title{
	height: 2em;
	line-height: 2em;
}
.box .title h3{
	font-size: 1.1em;
}
.contract_out{
	width: 100%;
	position: static;
	margin-top: 6%;
}
.contract .top_input input[type="text"]{
	display: inline-block;
	width: 100%;
	height: 2.5em;
	font-size: 1.1em;
}
.contract textarea{
	width: 94%;
	font-size: 1.2em;
	height: 9em;
}
.contract input[type="button"]{
	width: 60%;
	height: 80%;
	font-size: 1.1em;
}
.contract p{
	font-size: 0.8em;
}

.box .items{	
	position:static;
	height: 402px;
	overflow: hidden;
	margin: 0;

}
.box .items .item_list{
	position: static;
	width:70%;
	height: 50%;
	margin:0 auto;
	overflow: hidden;
	box-shadow: none;
}
#product .p4,#product .p6,#product .p8{
	left:20%!important;
}
#product .p5,#product .p7,#product .p8{
	left:20%!important;
	top:200px;
}

.box .iphone,.box .apple{
	display: none;
}
hr{
	width:60%;
}
.box-4{
	padding-bottom: 40px;
	min-height: 1350px;
}
#banner{
	width:350px;
	height: 300px;
	display: none;
	overflow: hidden;
}
.contract .top_input input[type="text"]{
	font-size: 1em;
}
.contract textarea{
	font-size: 1em;
}



