body{
	background: #fff;
}
#mac_slide{
	width: 100%;
	height: 180px;
	padding-top: 80px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.bg{
	width: 100%;
	height: 180px;
	background: #fff;
	opacity: 0.3;
	padding-top: 80px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#box{
	width: 980px;
	height: 160px;
	margin: 0px auto;
}
#box .products{
	width: 980px;
	height: 160px;
	overflow: hidden;
	position: relative;
}
.pd img{
	width:142px;
	height: 122px;
	margin: 0px 15px;
	border:none;	
}

#box .products .pd{
	width:162px;
	height: 170px;
	overflow: hidden;
	position: absolute;
	left: 500px;
	top: -250px;
	text-align: center;
	line-height: 10px;
}
#box .products .pd a{
	font-size: 12px;
	display: block;
	width:162px;
	height: 160px;
	line-height: 25px;
	text-decoration: none;
	color:#000;
	padding-top: 10px;
}
#box .products .pd a:hover{
	color: #2c2b2b;
}
#projects h2{
	width:100%;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	padding: 0;
	margin: 0;
	font-weight: normal;
}


#index_top{
	width: 100%;
	height: 781px;
	background: url(../img/iphone_1.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	padding-top: 1px;
}
.top_content{
	width: 100%;
	height: auto;
	margin-top: 400px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
}
.top_content h1{
	line-height: 40px;
	font-size: 48px;
	font-weight: normal;
	height: 60px;
}
.top_content h2{
	font-size: 44px;
	font-weight: normal;
	width: 520px;
	margin: 0 auto;
	line-height: 40px;
}
.top_content p{
	height: 80px;
	line-height: 80px;
}
.top_content p a{
	color: #fff;
	font-size: 20px;
}



#mac_pic{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 2px;
	text-align: center;
}
#mac_pic ul li{
	display: inline-block;
	max-width: 480px;
	height: 240px;
	margin-right: -2px;
}

#iphone_app{
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
	border-bottom: 1px solid #e2e2e2;
}

#iphone_app .iphone_first{
	width: 360px;
	height: 336px;
	padding:36px 64px 0 64px;
	float: left;
}
#iphone_app .iphone_last{
	width: 360px;
	height: 336px;
	padding:36px 65px 0 65px;
	border-left: 1px solid #e2e2e2;
	float: right;
	position:relative;
}
#iphone_app .iphone_last img{
	position: absolute;
	left: 0;
	bottom:0;
}
#iphone_app .iphone_first img{
	padding-top: 30px;
}
#iphone_app h2{
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	line-height: 50px;
}
#iphone_app p{
	font-size: 16px;
	line-height: 22px;
	color: #333;
	text-align: center;
}
#iphone_app span{
	display: block;
	text-align: center;
	color: #08c;
	line-height: 30px;
	font-size: 14px;
}

#mac_dream{
	width: 100%;
	height: auto;
}
#mac_dream h1{
	width: 980px;
	line-height: 50px;
	color: #333;
	margin: 0 auto;
	text-align: center;
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-top: 50px;
}
#mac_dream h2{
	width: 980px;
	line-height: 30px;
	color: #666;
	margin: 0 auto;
	text-align: center;
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 1px;
	padding-bottom: 30px;
}
#mac_dream .dream_pic{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#mac_dream p{
	width: 704px;
	padding:20px 138px 10px 138px;
	margin: 0 auto;
	text-align: center;
	color: #404040;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 1px;
}
#mac_dream span{
	display: block;
	text-align: center;
	padding-bottom: 20px;	
}
#mac_dream span a{
	color: #08c;
	font-size: 14px;
}
#mac_dream .mac_new{
	width: 980px;
	height: 30px;
	padding:13px 0 19px 0;
	margin: 0 auto;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	text-align: center;
	font-size: 14px;
	color: #666;
}
#mac_dream .mac_new strong{
	line-height: 40px;
	padding-left: 10px;
}
#mac_dream .mac_new span{
	display: inline;
	line-height: 40px;
}

#mac_buy{
	width: 100%;
	height: 300px;
	padding-top: 25px;
	text-align: center;
	margin: 0 auto;
}
#mac_buy a{
	color: #333;
}
#mac_buy ul{
	width: 1014px;
	height: 250px;
	margin: 0 auto;
}
#mac_buy ul li{
	width: 245px;
	height: 208px;
	padding-bottom: 25px;
	display: inline-block;
	float: left;
	position: relative;
}
#mac_buy h2{
	margin-bottom: 17px;
	font-weight: normal;
	font-size: 20px;
}
#mac_buy h3{
	width: 245px;
	height: 50px;
	padding-top:80px;
	font-size: 20px;
	font-weight: normal;	
}
#mac_buy h3.mac_online{
	background: url(../img/mac_36.jpg) no-repeat 100px top;
}
#mac_buy h3.mac_store{
	background: url(../img/mac_39.jpg) no-repeat 100px top;
}
#mac_buy h3.mac_phone{
	background: url(../img/mac_42.jpg) no-repeat 100px top;
}
#mac_buy span{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #08c;
}
#mac_buy p{
	padding:0 28px;
}
#mac_buy .mac_link{
	width: 100%;
	height: 40px;
	text-align: center;
}
#mac_buy .mac_link a{
	padding:5px 16px;
}
#mac_buy .mac_link a.mac_shop{
	background: url(../img/xiao.png) no-repeat 0 -200px;
	padding-left: 30px;
}
#mac_buy .mac_link span{
	font-size: 12px;
	display: inline;
	position: static!important;
}