h2{
	font-size: 16px;
	height: 80px;
	line-height: 80px;
}
div,h2,img{
	padding: 0;
	margin:0;
}
#main{
	width: 960px;
}
#main .pin{
	width: 225px;
	height: auto;
	padding: 7.5px;
	float: left;
	opacity: 0;
}
#main .pin .box{
	width: 205px;
	height: auto;
	padding: 10px;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0px 0px 7px blue;
}
#main .pin .box img{
	width: 205px;
}